flows.json
[
    {
        "id": "522435d9.7fe2dc",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cd71c22c.55ae3",
        "type": "ui_form",
        "z": "522435d9.7fe2dc",
        "name": "",
        "label": "",
        "group": "6f05a7d8.86e298",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "BMI",
                "value": "a",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "HIV/AIDS",
                "value": "b",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "thinness 1-19 years",
                "value": "c",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "thinness 5-9 years",
                "value": "d",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Adult mortality",
                "value": "e",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Alcohol",
                "value": "f",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Country",
                "value": "g",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Diptheria",
                "value": "h",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "GDP",
                "value": "i",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Hepatitis B",
                "value": "j",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Income composition of resources",
                "value": "k",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Measles",
                "value": "l",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Polio",
                "value": "m",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Population",
                "value": "n",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Schooling ",
                "value": "o",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Status",
                "value": "p",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Total expenditure",
                "value": "q",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Year",
                "value": "r",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "infant deaths",
                "value": "s",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "percentage expenditure",
                "value": "t",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "under-five deaths",
                "value": "u",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "a": "",
            "b": "",
            "c": "",
            "d": "",
            "e": "",
            "f": "",
            "g": "",
            "h": "",
            "i": "",
            "j": "",
            "k": "",
            "l": "",
            "m": "",
            "n": "",
            "o": "",
            "p": "",
            "q": "",
            "r": "",
            "s": "",
            "t": "",
            "u": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 70,
        "y": 120,
        "wires": [
            [
                "b25df2f2.1f779"
            ]
        ]
    },
    {
        "id": "b25df2f2.1f779",
        "type": "function",
        "z": "522435d9.7fe2dc",
        "name": "pre token",
        "func": "//make user given variables as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f); \nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n//Following are required to recieve a token\nvar apikey = \"kPIHkD9Tdl334BEpaG-bFkxgxNXC5LAp4WZE_xhqvhfR\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 120,
        "wires": [
            [
                "39f9f136.98716e"
            ]
        ]
    },
    {
        "id": "39f9f136.98716e",
        "type": "http request",
        "z": "522435d9.7fe2dc",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "eb02b5f9.ed6658"
            ]
        ]
    },
    {
        "id": "eb02b5f9.ed6658",
        "type": "function",
        "z": "522435d9.7fe2dc",
        "name": "sendTo Endpoint",
        "func": "//get token and make headers\nvar token = \nmsg.payload.access_token;\nvar instance_id=\"a6deda9b-583a-4867-a253-ec1042e4e99f\";\nmsg.headers = {'content-Type':'application/jason',\"Authorization\":\"Bearer\"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n\n\n//send the user values to service end point\nmsg.payload = \n        {\"fields\":[\"BMI\",\"HIV/AIDS\",\"thinness 1-19 years\",\n        \"thinness 5-9 years\",\"Adult Mortality\",\n        \"Alcohol\",\"Country\",\"Diptheria\",\"GDP\",\n        \"Hepatitis B\",\n        \"Income composition of resources\",\n        \"Measles\",\"Polio\",\"Population\",\"Schooling\",\"Status\",\n        \"Total expenditure\",\"Year\",\n        \"infant deaths\",\"percentange expenditure\",\n        \"under-five deaths\"],\n             \"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n             \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 240,
        "wires": [
            [
                "68a05a98.e3e334"
            ]
        ]
    },
    {
        "id": "68a05a98.e3e334",
        "type": "http request",
        "z": "522435d9.7fe2dc",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/a6deda9b-583a-4867-a253-ec1042e4e99f/deployments/c4a66130-af22-4c40-aa34-5f97979d9c4f/online",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "50eba835.10f4f8",
                "6333b303.40098c"
            ]
        ]
    },
    {
        "id": "50eba835.10f4f8",
        "type": "debug",
        "z": "522435d9.7fe2dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "6333b303.40098c",
        "type": "function",
        "z": "522435d9.7fe2dc",
        "name": "getFrom Endpoint",
        "func": "msg.payload = msg.payload.values[0][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 340,
        "wires": [
            [
                "6278e4bb.77aa8c",
                "6575fde4.61b654"
            ]
        ]
    },
    {
        "id": "6278e4bb.77aa8c",
        "type": "debug",
        "z": "522435d9.7fe2dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 870,
        "y": 340,
        "wires": []
    },
    {
        "id": "6575fde4.61b654",
        "type": "ui_text",
        "z": "522435d9.7fe2dc",
        "group": "6f05a7d8.86e298",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Prediction",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 880,
        "y": 400,
        "wires": []
    },
    {
        "id": "6f05a7d8.86e298",
        "type": "ui_group",
        "z": "",
        "name": "Machine Learning Life Expectancy",
        "tab": "843bb5d3.9f59e8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "843bb5d3.9f59e8",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]